
.beyaz{
    color:white;
  }
  
  ion-button{
    width: 270px;
    padding-left:130px;
  }
  
  .loginButton{
    width: 270px;
  }
  
  .center{
    width: center;
  }
  
  .beyaz{
    color: white;
  }